{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Themepixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png'%}">

    <title>DueDeals</title>

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'lib/remixicon/fonts/remixicon.css'%}">

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/style.min.css'%}">
  </head>
  <body class="page-auth">

    <div class="header">
      <div class="container">
        <a href="../" class="header-logo">DueDeals</a>
        <nav class="nav nav-icon">
          <a href="" class="nav-link"><i class="ri-twitter-fill"></i></a>
          <a href="" class="nav-link"><i class="ri-github-fill"></i></a>
          <a href="" class="nav-link"><i class="ri-dribbble-line"></i></a>
        </nav>
      </div><!-- container -->
    </div><!-- header -->

    <div class="content">
      <div class="container">
        <div class="card card-auth">
          <div class="card-body text-center">
            <div class="mb-5">
              <object type="image/svg+xml" data="../assets/svg/mailbox.svg" class="w-50"></object>
            </div>
            <h3 class="card-title">Verify your email address</h3>
            <p class="card-text mb-5">A password reset link has been sent to your email. Please note that it <b>expires in 10 minutes</b>!</p>

            <div class="row g-2 g-sm-3">
              <div class="col-sm"><a href="" class="btn btn-primary">Resend Verification</a></div>
              <div class="col-sm"><a href="" class="btn btn-secondary">Contact Support</a></div>
            </div><!-- row -->
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- container -->
    </div><!-- content -->

    <script src="{% static 'lib/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script>
      'use script'

      var skinMode = localStorage.getItem('skin-mode');
      if(skinMode) {
        $('html').attr('data-skin', 'dark');
      }
    </script>
  </body>
</html>
